.weather-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    padding: 1rem;
    width: 100%;

    border-bottom: 1px solid whitesmoke;
    animation-name: fade-in;
    animation-duration: 0.8s;
}
.weather-card:hover {
    background-color: whitesmoke;
}
.weather-card-city {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 75%;
    color: rgb(57, 57, 57);
}
.weather-card__main {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.weather-card__status {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: black;
    font-weight: bold;
}
.weather-card__condition {
    display: flex;
    align-items: center;
}
.weather-card__condition img {
    width: 30px;
    height: 30px;
}
