.settings-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    width: 100%;
    padding: 1rem 3rem;
    gap: 1.5rem;
    margin: 2rem 0;
}
.settings-container > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.settings-container > div > input,
.settings-container > div > select {
    padding: 5px;
    font-size: 1.3rem;
    width: 50%;
    border-radius: 5px;
    background-color: whitesmoke;
    border: none;
}
select:focus {
    outline: none;
}
