* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
input,
button {
    border: none;
    background-color: white;
}
@keyframes displayTip{
    0% {
        color: rgba(255, 255, 255, 0);
    }
    50% {
        color: rgba(255, 255, 255, 0.85);
    }
    100% {
        color: rgba(255, 255, 255, 0);
    }
}