.selected-city-form {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    width: 100%;
    height: 100%;
}
.input-container {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}
.input-container input {
    padding: 0.5rem;
    background-color: white;
    border-radius: 5px;
}
.input-container input[type="text"]{
    width: 70%;
}
@media (min-width: 769px) and (max-width: 1024px) {
    .input-container {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
}
@media (min-width: 1025px) {
    .input-container {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
}
